{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-8">
  <!-- Error -->
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{error}}
    </div>
    {% endif %}
  </div>
  <div class="col-md-4">
  <!-- Edit, delete -->
    <a id="post-delete"  href="/blog/{{post.key().id()}}/delete">Delete</a>
    <a id="post-edit"    href="/blog/{{post.key().id()}}/edit">Edit</a>
  <!-- Render post -->
  </div>
</div>
<div class="row">    {{post.render() | safe}}</div>
  <!-- Comment -->
<div class="row">
  <!-- Like -->
  <div class="sub-work col-md-12">
      <form method="post" role="form">
          <input type="hidden" class="form-control" id="like" name="like" value="update">
          <button type="submit"class="fa fa-thumbs-up" aria-hidden="true"></button>
          {{numOfLikes}}
      </form>
  </div>
  <!-- Adding comments -->
  <form method="post" role="form">
      <div>
          <label for="comment">Comment:</label>
          <input type="text" id="comment" name="comment" value="">
          <button type="submit" class="btn btn-primary">Post</button>
      </div>
  </form>
  <!-- Showing comments -->
  {% if new %}
    <div class="row">
      <div class="col-md-8">
        {{ new.user.name }} said at {{new.created.strftime("%T, %b %d, %Y")}}
        <blockquote> {{ new.comment }} </blockquote>
      </div>
      <div class="col-md-4">
        <a class="" href="/blog/{{post.key().id()}}/{{new.key().id()}}/delete">Delete</a>
        <a class="" href="/blog/{{post.key().id()}}/{{new.key().id()}}/edit">Edit</a>
      </div>
    </div>
    {% endif%}
  {% if comments %}
  {% for c in comments %}
    <div class="row">
    <div class="col-md-8">
          {{ c.user.name }} said at {{c.created.strftime("%T, %b %d, %Y")}}
          <blockquote> {{ c.comment }} </blockquote>
    </div>
    <div class="col-md-4">
      <a class="" href="/blog/{{post.key().id()}}/{{c.key().id()}}/delete">Delete</a>
      <a class="" href="/blog/{{post.key().id()}}/{{c.key().id()}}/edit">Edit</a>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}
